.userInputBox {
    border: solid 2px rgb(90, 90, 90);
    background-color: rgb(53, 53, 53);
    color: rgb(102, 143, 127);
    width: 75%;
    height: 50px;
    padding: 10px;
    font: 1em 'Avenir';
    text-align: right;
    margin-left: 152px;
    margin-top: 10px;
}

.userInputBox:focus {
    outline-width: 0;
}
