.storyBox {
    border: solid 2px rgb(90, 90, 90);
    width: 75%;
    height: 425px;
    padding: 10px;
    overflow: auto;
    color: rgb(102, 143, 127);
    font: 0.85em 'Avenir';
    margin: auto;
}

div {
    white-space: pre-wrap;
}

.userInput {
    font: 1em 'Avenir';
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
